  <p>User ID: <%=@user.id%> </p> 
  <p>First Name: <%=@user.firstname %> </p>
  <p>Last Name: <%=@user.lastname %> </p>
  <p>Email: <%=@user.email %> </p>
<%= link_to "Back to Admin Page", admin_users_path %>